# Markdown Cell: Exercise Title and Description
Add a Markdown cell with the title 'Exercise 9.1: Preliminary Data Collection Using SQL Techniques' and the description provided in the file.

In [ ]:
# Add a Markdown cell with the exercise title and description
from IPython.display import Markdown, display

# Display the title and description as a Markdown cell
display(Markdown("# Exercise 9.1: Preliminary Data Collection Using SQL Techniques\nThis exercise collects preliminary data. We will load the database, list scooter product details, extract product IDs, and store the results in a new table."))

# Load the Database
Write SQL code to connect to the database and load the required data.

In [ ]:
# Import necessary libraries
import sqlite3
from IPython.display import display, Markdown

# Connect to the SQLite database (replace 'database_name.db' with your actual database file)
connection = sqlite3.connect('database_name.db')

# Add a Markdown cell to indicate the database connection
display(Markdown("### Database Connection Established\nSuccessfully connected to the database."))

# Load the required data (replace 'table_name' with your actual table name)
query = "SELECT * FROM table_name;"
data = connection.execute(query).fetchall()

# Add a Markdown cell to indicate data loading
display(Markdown("### Data Loaded\nThe required data has been successfully loaded from the database."))

# List Scooter Product Details
Write SQL queries to list details of scooter products from the database.

In [ ]:
# Write SQL queries to list details of scooter products from the database
# Replace 'scooter_table' with the actual table name containing scooter product details
scooter_query = "SELECT * FROM scooter_table;"

# Execute the query and fetch the results
scooter_data = connection.execute(scooter_query).fetchall()

# Add a Markdown cell to indicate the query execution
display(Markdown("### Scooter Product Details\nThe details of scooter products have been successfully retrieved from the database."))

# Display the fetched data
for row in scooter_data:
    print(row)

# Extract Product IDs
Write SQL queries to extract product IDs from the scooter product details.

In [ ]:
# Write SQL queries to extract product IDs from the scooter product details
# Replace 'scooter_table' and 'product_id_column' with the actual table and column names
product_id_query = "SELECT product_id_column FROM scooter_table;"

# Execute the query and fetch the product IDs
product_ids = connection.execute(product_id_query).fetchall()

# Add a Markdown cell to indicate the extraction of product IDs
display(Markdown("### Product IDs Extracted\nThe product IDs have been successfully extracted from the scooter product details."))

# Display the extracted product IDs
for product_id in product_ids:
    print(product_id)

# Store Results in a New Table
Write SQL queries to store the extracted product IDs into a new table in the database.

In [ ]:
# Write SQL queries to store the extracted product IDs into a new table in the database
# Replace 'new_table_name' with the desired name for the new table
create_table_query = """
CREATE TABLE IF NOT EXISTS new_table_name (
    product_id_column INTEGER
);
"""

# Execute the query to create the new table
connection.execute(create_table_query)

# Insert the extracted product IDs into the new table
# Replace 'new_table_name' and 'product_id_column' with the actual table and column names
insert_query = "INSERT INTO new_table_name (product_id_column) VALUES (?);"
connection.executemany(insert_query, product_ids)

# Commit the changes to the database
connection.commit()

# Add a Markdown cell to indicate the successful storage of product IDs
display(Markdown("### Product IDs Stored\nThe extracted product IDs have been successfully stored in a new table in the database."))

# Verify the contents of the new table
verify_query = "SELECT * FROM new_table_name;"
new_table_data = connection.execute(verify_query).fetchall()

# Display the contents of the new table
for row in new_table_data:
    print(row)